<div class="cont">
    <form class="add_row">
        <fieldset>
            <legend>已购墓位管理</legend>

           <div class="conta">
              <p>选择墓园</p>
              <p>选择墓区</p>
              <p>选择墓排</p>
              <p>墓位样式</p>
           </div>
           <div class="contb">
               <select name="cem_id" class="cem_id">
                  <option value="">请选择</option>
                  {foreach $cem_list as $k => $vo}
                       <option value="{$vo.id}">{$vo.title}</option>
                  {/foreach}
               </select>
                   <select name="cem_area_id" class="cem_area_id">
                      <option value="0">请选择</option>
                   </select>
                   <select name="cem_row_id" class="cem_row_id">
                      <option value="0">请选择</option>
                   </select>
                   <select class="style_id">
                       {foreach $cem_style as $k => $vo}
                            <option value="{$vo.id}">{$vo.title}</option>
                       {/foreach}
                  </select>
                
                <button type="button" class="contc show_all">显示全部</button>

           </div>
        </fieldset>

    </form>
    <div class="ding wlist">


    </div>
</div>
</div>
<!-- <iframe frameborder = "0" scrolling = "no" class="tanc tc1" src=""  ></iframe>
<iframe frameborder = "0" scrolling = "no" class="bwtan tc2" src=""  ></iframe> -->
<script src="__JS__/layer/layer.js"></script>
<script language="javascript" type="text/javascript" src="__JS__/My97DatePicker/WdatePicker.js"></script>
    <script type="text/javascript">
        var id;
        $(document).on('click', '.wlist .dinga', function(){
            id = $(this).attr('row_id');
            var html = layer.load(0, {
              shade: [0.5] //0.1透明度的白色背景
            });
            $.ajax({
                type        : 'post',
                url         : '{:url('reserve_buyed')}',
                dataType    : 'json',
                data        : {
                    id : id,
                },
                success     : function(g){
                    layer.close(html);
                     //页面层
                    zfxhtml=layer.open({
                      type: 1,
                      title: '墓位定购信息维护', //不显示标题
                      skin: 'layui-layer-rim', //加上边框
                      area: ['800px', '670px'], //宽高
                      content: g
                    });
                }
            });
        });
        function tuiding(){
            var tuiindex = layer.confirm('您确定要退订吗？', {
              btn: ['确定','取消'] //按钮
            }, function(){
                //loading层
                var index = layer.load(1, {
                    shade: [0.1,'#fff'] //0.1透明度的白色背景
                  });
                $.ajax({
                    type        : 'post',
                    url         : '{:url('tuiding')}',
                    dataType    : 'json',
                    data        : {id : id},
                    success     : function(e){
                        if (e == 'ok') {
                            layer.close(index);
                            layer.close(zfxhtml);
                            layer.msg('设置成功',{offset: '300px',time: 2000,icon: 1},function () {
                                   window.location.reload();
                                });
                        } else {
                            layer.close(index);
                            layer.close(zfxhtml);
                            layer.msg('设置失败',{offset: '300px',time: 2000,icon: 2},function () {
                                   window.location.reload();
                                });
                        }
                    },
                    error       : function () {

                    },
                });
            }, function(){
              layer.close(tuiindex);
            });
        }
        function subbeizhu(){
            //loading层
            var index = layer.load(1, {
                shade: [0.1,'#fff'] //0.1透明度的白色背景
              });
            var beizhu=$("#beizhu").val();
            $.ajax({
                type        : 'post',
                url         : '{:url('set_beizhu')}',
                dataType    : 'json',
                data        : {id : id,beizhu:beizhu},
                success     : function(e){
                    if (e == 'ok') {
                        layer.close(index);
                        layer.msg('设置成功');
                    } else {
                        layer.close(index);
                        layer.msg('设置失败');
                    }
                },
                error       : function () {

                },
            });
        }
        function huanyuan(){
            //loading层
            var index = layer.load(1, {
                shade: [0.1,'#fff'] //0.1透明度的白色背景
              });
            var beizhu=$("#beizhu").val();
            $.ajax({
                type        : 'post',
                url         : '{:url('set_huanyuan')}',
                dataType    : 'json',
                data        : {id : id},
                success     : function(e){
                   if (e == 'ok') {
                        layer.close(index);
                        layer.close(zfxhtml);
                        layer.msg('设置成功',{offset: '300px',time: 2000,icon: 1},function () {
                               window.location.reload();
                            });
                    } else {
                        layer.close(index);
                        layer.close(zfxhtml);
                        layer.msg('设置失败',{offset: '300px',time: 2000,icon: 2},function () {
                               window.location.reload();
                            });
                    }
                },
                error       : function () {

                },
            });
        }
        function xjglf(){
            var html = layer.load(0, {
              shade: [0.5] //0.1透明度的白色背景
            });
            $.ajax({
                type        : 'post',
                url         : '{:url('reserve_xjglf')}',
                dataType    : 'json',
                data        : {
                    id : id,
                },
                success     : function(g){
                    layer.close(html);
                     //页面层
                    xujiaohtml=layer.open({
                      type: 1,
                      title: '续交管理费', //不显示标题
                      skin: 'layui-layer-rim', //加上边框
                      area: ['875px', '425px'], //宽高
                      content: g
                    });
                }
            });
        }
        function closexujiao(){
            layer.close(xujiaohtml);
        }
         function glmone(){
            var one=$("#manage_money").val();
            var reg=/^(0|[1-9][0-9]*)$/;
            if (!reg.test(one)) {
                layer.msg('请填写数字');
                $('#manage_money').focus();
              return false;
            }
          }
          function glmtwo(){
              var manage_money=$("#manage_money").val();
              var two=$("#manage_year").val();
              var reg=/^(0|[1-9][0-9]*)$/;
              if (!reg.test(manage_money)) {
                layer.msg('请填写数字');
                $('#manage_money').focus();
                return false;
              }
              if (!reg.test(two)) {
                  layer.msg('请填写数字');
                  $('#manage_year').focus();
                return false;
              }
              if(two && two != 0 && two != null && two != undefined){
                var glf=manage_money*two;
                $("#manage_sum_money").val(glf);
              }
          }
          function setxujiao(){
            var manage_money=$("#manage_money").val();
            var manage_year=$("#manage_year").val();
            var starttime=$("input[name=starttime]").val();
            var endtime=$("input[name=endtime]").val();
            var eid=$("#xujiaoid").val();
            var reg=/^(0|[1-9][0-9]*)$/;
            if (!reg.test(manage_money)) {
                layer.msg('请填写数字');
                $('#manage_money').focus();
                return false;
              }
            if (!reg.test(manage_year)) {
                  layer.msg('请填写数字');
                  $('#manage_year').focus();
                return false;
            }
            if(starttime == ''){
                layer.msg('请选择开始年限');
                $('#starttime').focus();
                return false;
            }
            if(endtime == ''){
                layer.msg('请选择结束年限');
                $('#endtime').focus();
                return false;
            }
            if(manage_money!='' && manage_year!='' && starttime!='' && endtime!=''){
                layer.close(xujiaohtml);
                ldghtmlss = layer.load(0, {
                    shade: [0.5] //0.1透明度的白色背景
                  });
                $.ajax({
                    type        : 'post',
                    url         : '{:url('reserve_xujiao_set')}',
                    dataType    : 'json',
                    data        : {
                        eid : eid,
                        manage_money : manage_money,
                        manage_year : manage_year,
                        starttime : starttime,
                        endtime : endtime,
                    },
                    success     : function(g){
                        if(g == 'ok'){
                            layer.close(ldghtmlss);
                            layer.msg('续交成功');
                        }else{
                            layer.close(ldghtmlss);
                            layer.msg('续交失败');
                        }
                    }
                });
            }
          }
          function gzdj(){
            var html = layer.load(0, {
              shade: [0.5] //0.1透明度的白色背景
            });
            $.ajax({
                type        : 'post',
                url         : '{:url('reserve_gzdj')}',
                dataType    : 'json',
                data        : {
                    id : id,
                },
                success     : function(g){
                    layer.close(html);
                     //页面层
                    xujiaohtml=layer.open({
                      type: 1,
                      title: '故者落葬登记', //不显示标题
                      skin: 'layui-layer-rim', //加上边框
                      area: ['890px', '690px'], //宽高
                      content: g
                    });
                }
            });
          }
          function bwtc(){
            var html = layer.load(0, {
              shade: [0.5] //0.1透明度的白色背景
            });
            $.ajax({
                type        : 'post',
                url         : '{:url('reserve_bwtc')}',
                dataType    : 'json',
                data        : {
                    id : id,
                },
                success     : function(g){
                    layer.close(html);
                     //页面层
                    xujiaohtml=layer.open({
                      type: 1,
                      title: '碑文设置', //不显示标题
                      skin: 'layui-layer-rim', //加上边框
                      area: ['832px', '610px'], //宽高
                      content: g
                    });
                }
            });
          }
        function tab1(){
            $("#tab1").show();
            $("#tab2").hide();
            $("#liset2").removeClass('bwon');
            $("#liset1").addClass('bwon');
        }
        function tab2(){
            $("#tab2").show();
            $("#tab1").hide();
            $("#liset1").removeClass('bwon');
            $("#liset2").addClass('bwon');
        }
        function _tc2_show() {
            $('.tc2').attr('src', "{:url('buyed_tc2', '', '')}/id/" + id);
            $('.tc2').show();
        }
    </script>




    <script type="text/javascript">
        $(document).on('click', '.all_btn', function(){
            $('.wlist input').prop('checked', $(this).prop('checked'));
        });
        // $('.wlist ').on('click', 'tr', function(){
        //     $(".add_row .cem_id").val($(this).find('.row_cem_id').attr('val'));
        //     get_area($(".add_row .cem_id"), $(this).find('.row_cem_area_id').attr('val') );
        //     // $(".add_row .row_cem_area_id").val($(this).find('.row_cem_area_id').attr('val'));
        //     $(".add_row .row_title").val($(this).find('.row_title').text());
        //     $(".add_row .row_id").val($(this).attr('row_id'));
        // });

        $('.all_btn_z').click(function(){
            $('.all_btn_z').parents('.mwtxribbot').find('input').prop('checked', $(this).prop('checked'));
        });

        $('.sbmt').click(function(){
            if ($(this).hasClass('del') && confirm('确认删除?'))  {
                $('.add_row').attr('action', $(this).attr('url')).submit();
            } else {
                $('.add_row').attr('action', $(this).attr('url')).submit();
            }

        });

        $(document).on('click', '.del', function(){
            var ids = [];
            $('.wlist input').each(function(){
                if ($(this).prop('checked')) {
                    ids.push($(this).val());
                }

            });
            if (!ids.length) {
                return alt('请先选择要删除的墓位');
            }

            $.ajax({
                type        : 'GET',
                url         : '{:url('info_del')}',
                dataType    : 'json',
                data        : {
                    ids : ids
                },
                success     : function(e){
                    if (e.status) {
                        for (let i in ids) {
                            $('.tr_' + ids[i]).remove();
                        }
                    }
                },
                error       : function () {

                },
            });

        });
    </script>


    <script type="text/javascript">
        function get_row (_this, _select_id) {
            // var _select_id = _select_id ? _select_id : 0;
            let cem_area_id = _this.val();
            let form = _this.parents('form');
            if (cem_area_id) {
                $.ajax({
                    type        : 'GET',
                    url         : '{:url('Cem/row_wlist')}',
                    dataType    : 'json',
                    data        : {
                        cem_area_id : cem_area_id
                    },
                    success     : function(e){
                        let html = '<option value = "0">请选择</option>';
                        for (i in e) {
                            html += '<option ';
                            if (_select_id == e[i]['id']) {
                                html += 'selected';
                            }
                            html += ' value="'+e[i]['id']+'">'+e[i]['title']+'</option>';
                        }
                        form.find('.cem_row_id').html(html);
                    },
                    error       : function () {

                    },
                });
            }
        }



        function get_area (_this, _select_id) {
            // var _select_id = _select_id ? _select_id : 0;
            let cem_id = _this.val();
            let form = _this.parents('form');
            if (cem_id) {
                $.ajax({
                    type        : 'GET',
                    url         : '{:url('Cem/area_wlist')}',
                    dataType    : 'json',
                    data        : {
                        cem_id : cem_id
                    },
                    success     : function(e){
                        let html = '<option value = "0">请选择</option>';
                        for (i in e) {
                            html += '<option ';
                            if (_select_id == e[i]['id']) {
                                html += 'selected';
                            }
                            html += ' value="'+e[i]['id']+'">'+e[i]['title']+'</option>';
                        }
                        form.find('.cem_area_id').html(html);
                    },
                    error       : function () {

                    },
                });
            }
        }

        $('.cem_id').change(function(){
            get_area($(this), '-1');
        });

        $('.cem_area_id').change(function(){
            get_row($(this), '-1');
        });
    </script>
    <script>
        $('.show_all').click(function(){
            var cem_id = $('.add_row').find('.cem_id').val();
            var cem_area_id = $('.add_row').find('.cem_area_id').val();
            var cem_row_id = $('.add_row').find('.cem_row_id').val();
            var style_id = $('.add_row').find('.style_id').val();
            $.ajax({
                type        : 'POST',
                url         : '{:url('Cem/info_wlist_html')}',

                data        : {
                    cem_id : cem_id,
                    cem_area_id : cem_area_id,
                    cem_row_id : cem_row_id,
                    status_id : 44,
                    style_id : style_id,
                    mb:1,
                },
                success     : function(e){
                    $('.wlist').html(e);
                },
                error       : function () {

                },
            });

        });
    </script>



<script type="text/javascript">
    $(".add_row").validate({
        rules:{
            price:{
                number:true,
                required:true,
            },
            length:{
                number:true,
                required:true,
            },
            width:{
                number:true,
                required:true,
            },
            acreage:{
                number:true,
                required:true,
            },


        },
        errorClass: "help-inline",
        errorElement: "div",
        highlight:function(element, errorClass, validClass) {
            $(element).parents('.control-group').addClass('error');
        },
        unhighlight: function(element, errorClass, validClass) {
            $(element).parents('.control-group').removeClass('error');
            $(element).parents('.control-group').addClass('success');
        },
        ignore : "",

    });
</script>
</form>
