<style type="text/css">
    .ktanc div{
        margin-left: 82px;
    }
</style>
<div class="cont">
    <form class="add_row">
        <fieldset>
            <legend>墓位预订</legend>

           <div class="conta">
              <p>选择墓园</p>
              <p>选择墓区</p>
              <p>选择墓排</p>
              <p>墓位样式</p>
              <p>墓位状态</p>

           </div>
           <div class="contb">
               <select name="cem_id" class="cem_id">
                  <option value="">请选择</option>
                  {foreach $cem_list as $k => $vo}
                       <option value="{$vo.id}">{$vo.title}</option>
                  {/foreach}
               </select>



                   <select name="cem_area_id" class="cem_area_id">
                      <option value="0">请选择</option>
                   </select>



                   <select name="cem_row_id" class="cem_row_id">
                      <option value="0">请选择</option>

                   </select>
                       <select class="style_id">
                   {foreach $cem_style as $k => $vo}
                        <option value="{$vo.id}">{$vo.title}</option>
                   {/foreach}
                      </select>
                <select class="status_id">
                    {foreach $cem_status as $k => $vo}
                         <option value="{$vo.id}">{$vo.title}</option>
                    {/foreach}
                </select>
                <button type="button" class="contc show_all">显示全部</button>

           </div>
        </fieldset>

    </form>
    <div class="ding wlist">


    </div>
</div>
</div>
<!-- <iframe frameborder = "0" scrolling = "no" class="whtan tc1" src=""  ></iframe>
<iframe frameborder = "0" scrolling = "no" class="jsdtan tc2" src=""  ></iframe>
<iframe frameborder = "0" scrolling = "no" class="ktan tc3" src=""  ></iframe> -->
<script src="__JS__/layer/layer.js"></script>
<script language="javascript" type="text/javascript" src="__JS__/My97DatePicker/WdatePicker.js"></script>
    <script type="text/javascript">

        var id;
        var row_status;
        $(document).on('click', '.wlist .dinga', function(){

            id = $(this).attr('row_id');
            row_status = $(this).attr('row_status');

            if (row_status == 38) {
                imghtml = layer.load(0, {
                  shade: [0.5] //0.1透明度的白色背景
                });
                $.ajax({
                    type        : 'post',
                    url         : '{:url('select_buy_type')}',
                    dataType    : 'json',
                    data        : {
                        id : id,
                    },
                    success     : function(g){
                        layer.close(imghtml);
                         //页面层
                        imhtml=layer.open({
                          type: 1,
                          title: '购墓方式', //不显示标题
                          skin: 'layui-layer-rim', //加上边框
                          area: ['490px', '365px'], //宽高
                          content: g
                        });
                    }
                });
               
            }
            // $('.tc1').attr('src', "{:url('sale_info', '', '')}/id/" + id);
            //
            // $('.tc1').show();
        });

        function _tc2_show() {
            $('.tc2').attr('src', "{:url('sale_sling_words', '', '')}/id/" + id);
            $('.tc2').show();
        }

        function ydmw () {
            var html = layer.load(0, {
              shade: [0.5] //0.1透明度的白色背景
            });
            layer.close(imhtml);
            $.ajax({
                type        : 'post',
                url         : '{:url('reserve')}',
                dataType    : 'json',
                data        : {
                    id : id,
                },
                success     : function(g){
                    layer.close(html);
                     //页面层
                    vhtml=layer.open({
                      type: 1,
                      title: '墓位预订', //不显示标题
                      skin: 'layui-layer-rim', //加上边框
                      area: ['858px', '608px'], //宽高
                      content: g
                    });
                }
            });
            /*$('.tc1').attr('src', "{:url('reserve', '', '')}/id/" + id);
            $('.tc1').show();*/
        }
        function closeghtml(){
            layer.close(dghtml);
        }
        function closeres(){
            layer.close(vhtml);
        }
        function subres(){
            layer.close(vhtml);
            var html = layer.load(0, {
              shade: [0.5] //0.1透明度的白色背景
            });
            var seid=$("#seid").val();
            var reserve_date=$("input[name='reserve_date']").val();
            var remind_date=$("input[name='remind_date']").val();
            var money=$("input[name='money']").val();
            var reserve_money=$("input[name='reserve_money']").val();
            var unpaid_money=$("input[name='unpaid_money']").val();
            var dead_name=$("input[name='dead_name']").val();
            var dead_relationship=$("#dead_relationship option:selected").val();
            var contacts_name=$("input[name='contacts_name']").val();
            var contacts_postcode=$("input[name='contacts_postcode']").val();
            var contacts_idcard=$("input[name='contacts_idcard']").val();
            var contacts_sex=$("#contacts_sex option:selected").val();
            var contacts_tel=$("input[name='contacts_tel']").val();
            var contacts_phone=$("input[name='contacts_phone']").val();
            var contacts_workplace=$("input[name='contacts_workplace']").val();
            var contacts_email=$("input[name='contacts_email']").val();
            var contacts_address=$("input[name='contacts_address']").val();
            var salesman=$("#salesman option:selected").val();
            var beizhu=$("#buzhi").val();
            $.ajax({
                type        : 'post',
                url         : '{:url('reserve_add')}',
                dataType    : 'json',
                data        : {
                    seid : seid,
                    reserve_date : reserve_date,
                    remind_date : remind_date,
                    money : money,
                    reserve_money : reserve_money,
                    unpaid_money : unpaid_money,
                    dead_name : dead_name,
                    dead_relationship : dead_relationship,
                    contacts_name : contacts_name,
                    contacts_postcode : contacts_postcode,
                    contacts_idcard : contacts_idcard,
                    contacts_sex : contacts_sex,
                    contacts_tel : contacts_tel,
                    contacts_phone : contacts_phone,
                    contacts_workplace : contacts_workplace,
                    contacts_email : contacts_email,
                    contacts_address : contacts_address,
                    salesman : salesman,
                    beizhu : beizhu,
                },
                success     : function(g){
                    if(g == 'ok'){
                        layer.close(html);
                        layer.msg('设置成功');
                    }else{
                        layer.close(html);
                        layer.msg('设置失败');
                    }
                }
            });
        }
        function zjgm(){
            var html = layer.load(0, {
              shade: [0.5] //0.1透明度的白色背景
            });
            layer.close(imhtml);
            $.ajax({
                type        : 'post',
                url         : '{:url('reserve_zjgm')}',
                dataType    : 'json',
                data        : {
                    id : id,
                },
                success     : function(g){
                    layer.close(html);
                     //页面层
                    dghtml=layer.open({
                      type: 1,
                      title: '墓位定购', //不显示标题
                      skin: 'layui-layer-rim', //加上边框
                      area: ['872px', '600px'], //宽高
                      content: g
                    });
                }
            });
        }
        function subform(){
            var manage_money=$("#manage_money").val();
            var manage_year=$("#manage_year").val();
            var mw_price=$("#mw_price").val();
            var seid=$("#setid").val();
            var settime=$("#settime").val();
            var starttime=$("#starttime").val();
            var endtime=$("#endtime").val();
            var manage_sum_money=$("input[name='manage_sum_money']").val();
            var pay_sum_money=$("input[name='pay_sum_money']").val();
            var dead_relationship=$("#dead_relationship option:selected").val();
            var contacts_name=$("input[name='contacts_name']").val();
            var contacts_idcard=$("input[name='contacts_idcard']").val();
            var contacts_sex=$("#contacts_sex option:selected").val();
            var contacts_tel=$("input[name='contacts_tel']").val();
            var contacts_phone=$("input[name='contacts_phone']").val();
            var contacts_workplace=$("input[name='contacts_workplace']").val();
            var contacts_email=$("input[name='contacts_email']").val();
            var contacts_address=$("input[name='contacts_address']").val();
            var salesman=$("#salesman option:selected").val();
            var beizhu=$("#buzhi").val();
            var reg=/^(0|[1-9][0-9]*)$/;
            if(mw_price == ''){
              layer.msg('请填写墓位费');
              return false;
            }
            if(manage_money == ''){
              layer.msg('请填写管理费');
              return false;
            }
            if(manage_year == ''){
              layer.msg('请填写年限');
              return false;
            }
            if (!reg.test(mw_price)) {
                layer.msg('请填写数字');
                $('#mw_price').focus();
                return false;
            }
            if (!reg.test(manage_money)) {
                layer.msg('请填写数字');
                $('#manage_money').focus();
                return false;
            }
            if (!reg.test(manage_year)) {
                layer.msg('请填写数字');
                $('#manage_year').focus();
                return false;
            }
            if(settime == ''){
              layer.msg('请选择定购日期');
              return false;
            }
            if(starttime == ''){
              layer.msg('请选择开始日期');
              return false;
            }
            if(endtime == ''){
              layer.msg('请选择结束日期');
              return false;
            }
            if(contacts_name == ''){
              layer.msg('请填写姓名');
              return false;
            }
            if(contacts_idcard == ''){
              layer.msg('请填写身份证号');
              return false;
            }
            if(contacts_tel == ''){
              layer.msg('请填写电话');
              return false;
            }
            if(contacts_phone == ''){
              layer.msg('请填写手机号');
              return false;
            }
            if(mw_price != '' && manage_money != '' && manage_year != '' && settime != '' && starttime != '' && endtime != '' && contacts_name != '' && contacts_idcard != '' && contacts_tel != ''  && contacts_phone != ''){
                layer.close(dghtml);
                ldghtml = layer.load(0, {
                    shade: [0.5] //0.1透明度的白色背景
                  });
                $.ajax({
                    type        : 'post',
                    url         : '{:url('reserve_dg_add')}',
                    dataType    : 'json',
                    data        : {
                        seid : seid,
                        mw_price : mw_price,
                        manage_money : manage_money,
                        manage_year : manage_year,
                        manage_sum_money : manage_sum_money,
                        settime : settime,
                        starttime : starttime,
                        endtime : endtime,
                        pay_sum_money : pay_sum_money,
                        dead_relationship : dead_relationship,
                        contacts_name : contacts_name,
                        contacts_idcard : contacts_idcard,
                        contacts_sex : contacts_sex,
                        contacts_tel : contacts_tel,
                        contacts_phone : contacts_phone,
                        contacts_workplace : contacts_workplace,
                        contacts_email : contacts_email,
                        contacts_address : contacts_address,
                        salesman : salesman,
                        beizhu : beizhu,
                    },
                    success     : function(g){
                        if(g == 'ok'){
                            layer.close(ldghtml);
                            layer.msg('设置成功');
                        }else{
                            layer.close(ldghtml);
                            layer.msg('设置失败');
                        }
                    }
                });
            }
          }
          function gmobile(){
            var mobile=$("#mobile").val();
            var reg=/^1[3|4|5|8][0-9]\d{4,8}$/;
            if (!reg.test(mobile)) {
                layer.msg('请填写正确的手机号');
                $('#mobile').focus();
              return false;
            }
          }
          function jcwf(){
            var mw_price=$("#mw_price").val();
            var reg=/^(0|[1-9][0-9]*)$/;
            if (!reg.test(mw_price)) {
                layer.msg('请填写数字'); 
                $('#mw_price').focus();
              return false;
            }
          }
          function glmone(){
            var one=$("#manage_money").val();
            var reg=/^(0|[1-9][0-9]*)$/;
            if (!reg.test(one)) {
                layer.msg('请填写数字');
                $('#manage_money').focus();
              return false;
            }
          }
          function glmtwo(){
              var manage_money=$("#manage_money").val();
              var two=$("#manage_year").val();
              var mw_price=$("#mw_price").val();
              var reg=/^(0|[1-9][0-9]*)$/;
              if (!reg.test(mw_price)) {
                layer.msg('请填写数字');
                $('#mw_price').focus();
                return false;
              }
              if (!reg.test(manage_money)) {
                layer.msg('请填写数字');
                $('#manage_year').focus();
                return false;
              }
              if (!reg.test(two)) {
                  layer.msg('请填写数字');
                  $('#manage_year').focus();
                return false;
              }
              if(two && two != 0 && two != null && two != undefined){
                var glf=manage_money*two;
                $("#manage_sum_money").val(glf);
                if(mw_price && mw_price != null && mw_price != undefined){
                  var summ=Number(glf)+Number(mw_price);
                  $("#pay_sum_money").val(summ);
                }
              }
          }
    </script>

    <script type="text/javascript">
        $(document).on('click', '.all_btn', function(){
            $('.wlist input').prop('checked', $(this).prop('checked'));
        });
        // $('.wlist ').on('click', 'tr', function(){
        //     $(".add_row .cem_id").val($(this).find('.row_cem_id').attr('val'));
        //     get_area($(".add_row .cem_id"), $(this).find('.row_cem_area_id').attr('val') );
        //     // $(".add_row .row_cem_area_id").val($(this).find('.row_cem_area_id').attr('val'));
        //     $(".add_row .row_title").val($(this).find('.row_title').text());
        //     $(".add_row .row_id").val($(this).attr('row_id'));
        // });

        $('.all_btn_z').click(function(){
            $('.all_btn_z').parents('.mwtxribbot').find('input').prop('checked', $(this).prop('checked'));
        });

        $('.sbmt').click(function(){
            if ($(this).hasClass('del') && confirm('确认删除?'))  {
                $('.add_row').attr('action', $(this).attr('url')).submit();
            } else {
                $('.add_row').attr('action', $(this).attr('url')).submit();
            }

        });

        $(document).on('click', '.del', function(){
            var ids = [];
            $('.wlist input').each(function(){
                if ($(this).prop('checked')) {
                    ids.push($(this).val());
                }

            });
            if (!ids.length) {
                return alt('请先选择要删除的墓位');
            }

            $.ajax({
                type        : 'GET',
                url         : '{:url('info_del')}',
                dataType    : 'json',
                data        : {
                    ids : ids
                },
                success     : function(e){
                    if (e.status) {
                        for (let i in ids) {
                            $('.tr_' + ids[i]).remove();
                        }
                    }
                },
                error       : function () {

                },
            });

        });
    </script>


    <script type="text/javascript">
        function get_row (_this, _select_id) {
            // var _select_id = _select_id ? _select_id : 0;
            let cem_area_id = _this.val();
            let form = _this.parents('form');
            if (cem_area_id) {
                $.ajax({
                    type        : 'GET',
                    url         : '{:url('Cem/row_wlist')}',
                    dataType    : 'json',
                    data        : {
                        cem_area_id : cem_area_id
                    },
                    success     : function(e){
                        let html = '<option value = "0">请选择</option>';
                        for (i in e) {
                            html += '<option ';
                            if (_select_id == e[i]['id']) {
                                html += 'selected';
                            }
                            html += ' value="'+e[i]['id']+'">'+e[i]['title']+'</option>';
                        }
                        form.find('.cem_row_id').html(html);
                    },
                    error       : function () {

                    },
                });
            }
        }



        function get_area (_this, _select_id) {
            // var _select_id = _select_id ? _select_id : 0;
            let cem_id = _this.val();
            let form = _this.parents('form');
            if (cem_id) {
                $.ajax({
                    type        : 'GET',
                    url         : '{:url('Cem/area_wlist')}',
                    dataType    : 'json',
                    data        : {
                        cem_id : cem_id
                    },
                    success     : function(e){
                        let html = '<option value = "0">请选择</option>';
                        for (i in e) {
                            html += '<option ';
                            if (_select_id == e[i]['id']) {
                                html += 'selected';
                            }
                            html += ' value="'+e[i]['id']+'">'+e[i]['title']+'</option>';
                        }
                        form.find('.cem_area_id').html(html);
                    },
                    error       : function () {

                    },
                });
            }
        }

        $('.cem_id').change(function(){
            get_area($(this), '-1');
        });

        $('.cem_area_id').change(function(){
            get_row($(this), '-1');
        });
    </script>
    <script>
        $('.show_all').click(function(){
            var cem_id = $('.add_row').find('.cem_id').val();
            var cem_area_id = $('.add_row').find('.cem_area_id').val();
            var cem_row_id = $('.add_row').find('.cem_row_id').val();
            var status_id = $('.add_row').find('.status_id').val();
            var style_id = $('.add_row').find('.style_id').val();

            $.ajax({
                type        : 'POST',
                url         : '{:url('Cem/info_wlist_html')}',

                data        : {
                    cem_id : cem_id,
                    cem_area_id : cem_area_id,
                    cem_row_id : cem_row_id,
                    status_id : status_id,
                    style_id : style_id,
                    mb:1,
                },
                success     : function(e){
                    $('.wlist').html(e);
                },
                error       : function () {

                },
            });

        });
    </script>



<script type="text/javascript">
    $(".add_row").validate({
        rules:{
            price:{
                number:true,
                required:true,
            },
            length:{
                number:true,
                required:true,
            },
            width:{
                number:true,
                required:true,
            },
            acreage:{
                number:true,
                required:true,
            },


        },
        errorClass: "help-inline",
        errorElement: "div",
        highlight:function(element, errorClass, validClass) {
            $(element).parents('.control-group').addClass('error');
        },
        unhighlight: function(element, errorClass, validClass) {
            $(element).parents('.control-group').removeClass('error');
            $(element).parents('.control-group').addClass('success');
        },
        ignore : "",

    });
</script>
</form>
