<div class="cont">
          <div class="wupfei">
            <h3>待确认骨灰盒销售信息</h3>
            <div class="conbiao wupfeib">
              <table class="table table-bordered">
                <!--<caption>边框表格布局</caption>-->
                <thead>
                  <tr>
                    <th>骨灰盒名称</th>
                    <th>应收费</th>
                    <th>是否已付款</th>
                    <th>定购日期</th>
                    <th>材质名称</th>
                    <th>宽</th>
                    <th>长</th>
                    <th>高</th>
                    <th>操作员</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Cem2017010812355</td>
                    <td>天祥园A区1排0009号</td>
                    <td>已下葬</td>
                    <td>刘丛礼</td>
                         <td>Cem2017010812355</td>
                    <td>天祥园A区1排0009号</td>
                    <td>已下葬</td>
                    <td>刘丛礼</td>
                    <td>刘丛礼</td>
                  </tr>
                 
                </tbody>
              </table>
             </div>
             <div class="wupfeic">
              <div class="wupfeid">退出</div>
             </div>
           </div>
           
        </div>