<div class="cont">
                    
                    <div class="conbiao">
                        <table class="table table-bordered">
                          <!--<caption>边框表格布局</caption>-->
                          <thead>
                            <tr>
                              <th>墓位全称</th>                      
                              <th>是否已付款</th>
                              <th>刻字金额</th>
                              <th>贴金箔金额</th>
                              <th>瓷像数量</th>                       
                              <th>瓷像费用</th>
                              <th>封门立碑</th>
                              <th>封门立碑费用</th>
                              <th>家族台阶数</th>
                              <th>家族台阶费用</th>
                              <th>装修材料费用</th>
                              <th>不干胶费用</th>
                              <th>费用总计</th>
                              <th>杂费设置日期</th>                         
                              <th>备注</th>

                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Cem2017010812355</td>
                              <td>已下葬</td>
                              <td>已下葬</td>
                              <td>刘丛礼</td>
                              <td>男</td>
                              <td>2017-1-12</td>
                              <td>已落葬</td>
                              <td>购买家属</td> 
                               <td>Cem2017010812355</td>
                              <td>天祥园A区1排0009号</td>
                              <td>已下葬</td>
                              <td>刘丛礼</td>
                              <td>男</td>
                              <td>2017-1-12</td>
                              <td>已落葬</td>
                             
                            </tr>
                           
                          </tbody>
                        </table>
                    </div>
                </div>