<div class="cont">
  <form>
    <fieldset>
       <legend>统计条件设置与结果打印</legend>             
       <div class="conta">
          <p>统计开始时间</p>
          <p>统计截止时间</p>
       </div>
       <div class="contb">
        <input class="Wdate xiaostime" id="starttime" type="text" onClick="WdatePicker()" style="outline: 0;font-size: 14px;color: #000;float: left;margin-left: 10px;">
        <input class="Wdate xiaostime" id="endtime" type="text" onClick="WdatePicker()" style="outline: 0;font-size: 14px;color: #000;float: left;margin-left: 10px;">
        <button type="button" class="contc show_all_come">统计结果</button>
        <div class="contc">打印统计结果</div>
       </div>
    </fieldset>
    
  </form>
  <div class="conbiao">
    <table class="table table-bordered">
      <!--<caption>边框表格布局</caption>-->
      <thead>
        <tr>
          <th>序号</th>
          <th>统计项</th>
          <th>班车来访份数</th>
          <th>自驾来访份</th>
          <th>合计</th>
        </tr>
      </thead>
      <tbody class="add_row">
      </tbody>
    </table>
  </div>
</div>
<script src="__JS__/layer/layer.js"></script>
<script language="javascript" type="text/javascript" src="__JS__/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript">
  $(".show_all_come").click(function(){
  var index = layer.load(1, {
    shade: [0.1,'#fff'] //0.1透明度的白色背景
  });
  $(".trtr").remove();
  var starttime=$("#starttime").val();
  var endtime=$("#endtime").val();
  var html='';
  var html1='';
  if(endtime != "" || starttime!=''){
      $.ajax({
          type        : 'post',
          url         : '{:url('show_all_come')}',
          dataType    : 'json',
          data        : {
              starttime:starttime,
              endtime:endtime,
          },
          success     : function(g){
            layer.close(index);
            
            $(".add_row").append(g);
          }
      });
    }
})
</script>