@charset "utf-8";
/* CSS Document */
*{margin:0; padding:0;}
/*body{font:12px "微软雅黑";background:#fff;}*/
img{border:none; display:block;}
a{text-decoration:none; color:#333;}
ul,li{list-style:none;}
h1,h2,h3,h4,h5,h6,strong,b{font-weight:normal;}
i,em{font-style:normal;}
input{outline: none;}
html,body{width: 100%;height: 100%;}
/*--------------index-----------------*/
.all{
	width: 100%;
	overflow: hidden;
}
.header{
	width: 100%;
	padding: 16px 0;
	overflow: hidden;
	background: #f7f7f7;
}
.headle{
	width: 70%;
	float: left;
}
.headri{
	float: left;
}
.headlea{
	float: left;
}
.headleb{
	float: left;
}
.headri p{
	font-size: 12px;
	color: #313030;
}
.nav{
	width: 100%;
	background: #f7f7f7;
	overflow: hidden;
	border-bottom: 5px solid #324577;
}
.nav ul{
	margin-left: 8px;
}
.nav li{
	width: 7%;
	float: left;
	text-align: center;
	height: 30px;
	line-height: 28px;
	border: 1px solid #bebebe;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.nav li a{
	font-size: 14px;
	color: #2a2a2a;
	text-decoration: none;
}
.nav li.diffli{
	background: -webkit-linear-gradient(#4060b6, #324678); 
	background: -o-linear-gradient(#4060b6, #324678);	
	background: -moz-linear-gradient(#4060b6, #324678); 	
	background: linear-gradient(#4060b6, #324678);
	border: 1px solid #324678; 
}
.nav li.diffli a{
	color: #fff;
}
.main{
	min-width: 100%;
	/*overflow: hidden;*/
}
.menu{
	width: 10%;
	float: left;
	background: #324577;
	overflow: hidden;
	/*height: 800px;*/
	min-height: 793px;
	/*position: absolute;
	left: 0;*/
}
.menu div{
	width: 99%;
	margin: 0 auto;
	height: 28px;
	line-height: 28px;
	background: #ebebeb;
	font-size: 12px;
	color: #626060;
	text-align: center;
}
.menu li{
	width: 99%;
	margin: 0 auto;
	padding: 0 4%;
	height: 28px;
	line-height: 28px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	/*background: -webkit-linear-gradient(#cce3fa, #f5fbfd); 
	background: -o-linear-gradient(#cce3fa, #f5fbfd);	
	background: -moz-linear-gradient(#cce3fa, #f5fbfd); 	
	background: linear-gradient(#cce3fa, #f5fbfd);*/
	margin-top: 2.5px;
	background: url(../images/menu_01.png) no-repeat left top;
	background-size: 100% 100%;
}
.menu li a{
	font-size: 12px;
	color: #324577;
	text-decoration: none;
}
.cont{
	width: 90%;
	/*margin: 0 auto;
	margin-left: 10%;*/
	float: left;
	
}
.cont fieldset {
    border: 1px solid #b9b9b9;
    padding: 0 5px;
    padding-bottom: 20px;
}
.cont legend{
	width: auto;
	border: 0;
	font-size: 14px;
	color: #000;
	margin-bottom: 10px;
}
/*.conta{
	width: 114px;
	float: left;
	margin-left: 30px;
}
.conta p{
	font-size: 14px;
	color: #000;
}
.conta select{
	width: 100%;
	outline: 0;
	font-size: 14px;
	color: #000;
}
.contb{
	font-size: 14px;
	color: #000;
	padding: 3px 25px;
	background: #c6c6c6;
	float: left;
	width: auto;
	margin-left: 30px;
	margin-top: 30px;
}*/
.contb{
	overflow: hidden;
}
.conta{
	width: 100%;
	overflow: hidden;
	margin-bottom: 10px;
}
.conta p{
	font-size: 14px;
	color: #000;
	float: left;
	margin: 0 34px;
}
.contb select{
	width: 114px;
	outline: 0;
	font-size: 14px;
	color: #000;
	float: left;
	margin-left: 10px;
}
.datediv input{
	width: 114px;
	height: 20px;
	outline: 0;
	font-size: 14px;
	color: #000;
	float: left;
	margin-left: 10px;
}
.contc{
	font-size: 14px;
	color: #000;
	padding: 3px 23px;
	background: #c6c6c6;
	float: left;
	width: auto;
	margin-left: 10px;
}
.contb select:first-child{
	margin-left: 34px;
}
.contc.diffsx{
	margin-left: 5px;
}
.contye{
	float: left;
	margin-left: 34px;
	
}
.contye span{
	padding: 3px 10px;
	float: left;
	background: #c6c6c6;
	margin-right: 2px;
}
.conbiao .table-bordered>thead>tr>th {
    /*text-align: center;
    padding: 8px 0;*/
    min-width: 100px;
}
.conbiao .table-bordered>tbody>tr>td {
    /*text-align: center;*/
    /*min-width: 80px;*/
}

/*.all .conbiao{
	width: 100%;
    overflow-x: auto; 
    overflow-y: auto; 
    height: 610px;
}*/
.conbiao{
	width: 100%;
    overflow-x: auto; 
    overflow-y: auto; 
    height: 610px;
}
.all .conbiao table{
	min-width: 100%;
	
}
.bota{
	width: 100%;
	height: 42px;
	line-height: 42px;
	background: #f7f7f7;
	position: absolute;
	bottom: 28px;
	overflow: hidden;
}
.botd{
	float: left;
}
.botd p{
	font-size: 14px;
	color: #0000ff;
	float: left;
	margin: 0;
}
.botd p i{
	color: #c60000;
}
.botd a{
	width: 46px;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	color: #000;
	text-align: center;
	text-decoration: none;
	display: block;
	background: #ccc;
	float: left;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	cursor: pointer;
}
.botb{
	width: 100%;
	height: 28px;
	position: absolute;
	bottom: 0;
	left: 0;
	background: #c6c6c6;
	
}
.botba{
	width: 45%;
	overflow: hidden;
	background: #ffffe7;
}
.botba img{
	width: 18px;
	height: 18px;	
	float: left;
	margin-top: 5px;
}
.botba select{
	width: 15px;
	height: 28px;
	float: left;
	background: none;
	border: none;
	
}
.botba p{
	font-size: 14px;
	color: #000;
	float: left;
	margin: 0;
	line-height: 28px;
}
.ding{
	width: 100%;
	height: 610px;
	margin-top: 10px;
	overflow: scroll;
}
.dinga{
	width: 6%;
	margin-right: 2%;
	float: left;
	margin-bottom: 10px;
	
}
.dinga p{
	font-size: 14px;
	color: #000;
	text-align: center;	
}
.dinga .dingimg{
	width: 80%;
	margin: 0 auto;	
}
.dinga .dingimg img{
	width: 100%;
}
.lxd p{
	width: 130px;
	float: left;
	font-size: 14px;
	color: #000;
}
.lxa{
	float: left;
	margin-right: 50px;
}

.lxb{
	font-size: 14px;
	color: #000;
	padding: 3px 23px;
	background: #c6c6c6;
	float: left;
	width: auto;
	margin-left: 10px;
}
.lxc{
	width: 140px;
	font-size: 14px;
	color: #000;
	float: left;
}
.lxd{
	overflow: hidden;
}
.lxd i{
	float: left;
	font-size: 14px;
	color: #000;
}
.lxd span{
	float: left;
	font-size: 14px;
	color: #008000;
	margin-left: 120px;
}
.lxe{
	font-size: 14px;
	color: #000;
	float: left;
}
.lxe input{
	width: 30px;
	height: 20px;
	font-size: 14px;
	color: #000;
}
.lxse{
	float: left;
	margin-right: 40px;
}
.kehu p{
	font-size: 14px;
	color: #000;
	float: left;
}
.keinput{
	width: 104px;
	float: left;
} 
.kehu i{
	color: #ff0000;
	font-size: 24px;
	margin-left: 10px;
}
.kehub p{
	font-size: 14px;
	color: #000;
	float: left;
}
.kebinput{
	width: 134px;
	float: left;
} 
.kehub i{
	color: #ff0000;
	font-size: 24px;
	margin-left: 10px;
}
.kehu{
	float: left;
	margin-left: 42px;
}
.kehub{
	float: left;
	margin-left: 30px;
}

.kehuc select{
	width: 104px;
	float: left;
}
.kehud{	
	margin-left: 30px;
}
.kedinput{
	width: 200px;
	float: left;
}
.ketop{
	float: left;
	overflow: hidden;
}
.kebot{
	float: left;
	overflow: hidden;
}
.kehuc p{
	font-size: 14px;
	color: #000;
	float: left;
}
.kehud p{
	font-size: 14px;
	color: #000;
	float: left;
}
.laia{
	overflow: hidden;
	
}
.laia p{ 
	font-size: 14px;
	color: #000;
	float: left;	
}
.laia select{
	width: 104px;
	float: left;
}
.laia i{
	color: #ff0000;
	font-size: 24px;
	margin-left: 10px;
}
.laib{
	overflow: hidden;
	
}
.laib p{ 
	font-size: 14px;
	color: #000;
	float: left;	
}
.laib select{
	width: 104px;
	float: left;
}
.laifa{
	float: left;
}
.laifb{
	float: left;
	margin-left: 15px;
}
.laib.difflaib select{
	width: 235px;
}
.lainum{
	margin-left: 10px;
	float: left;
}
.lainum p{ 
	font-size: 14px;
	color: #000;
	float: left;	
}
.lainum input{
	width: 50px;
	float: left;
}
.lainum i{
	color: #ff0000;
	font-size: 24px;
	margin-left: 10px;
}
.laifc{
	float: left;
	margin-left: 15px;
}
.laic p{ 
	font-size: 14px;
	color: #000;
	float: left;	
}
.laic select{
	width: 104px;
	float: left;
}
.laic{
	overflow: hidden;	
}
.cjqk{
	overflow: hidden;
}
.cja p{ 
	font-size: 14px;
	color: #000;
	float: left;	
}
.cja select{
	width: 104px;
	float: left;
	margin-right: 30px;
}
.cjrq{
	overflow: hidden;
}
.cjrq p{ 
	font-size: 14px;
	color: #000;
	float: left;	
}
.cjrq select{
	width: 230px;
	float: left;
}
.cjjla p{
	font-size: 14px;
	color: #000;
}
.cjjla textarea{
	width: 230px;
	height: auto;
	resize: none;
}
.cjjla{
	float: left;
	margin-right: 50px;
}
.czts fieldset{
	width: 60%;
	float: left;
}
.czts .contc{
	margin-top: 15px;
}
.djlx{
	overflow: hidden;
}
.djlx p{ 
	font-size: 14px;
	color: #000;
	float: left;	
}
.djlx .djlxa{
	float: left;
	margin-right: 20px;
}
.djlx i{
	color: #ff0000;
	font-size: 24px;
	margin-left: 10px;
}
.djfs{
	overflow: hidden;
}
.djfs p{ 
	font-size: 14px;
	color: #000;
	float: left;	
}
.djfs input{
	width: 50px;
	float: left;
}
.djfs i{
	color: #ff0000;
	font-size: 24px;
	margin-left: 10px;
}
.djrq{
  overflow: hidden;
}
.djrq p{ 
	font-size: 14px;
	color: #000;
	float: left;	
}
.djrq select{
	width: 230px;
	float: left;
}
.djcl{
	overflow: hidden;
}
.djclp{
	float: left;
}
.djcla{
	float: left;
}
.djclc{
	overflow: hidden;
}
.djclb p{
	font-size: 14px;
	color: #000;
}
.djclb input{
	width: 104px;
}
.djclb{
	float: left;
	margin-right: 20px;
}
.djxxa{
	float: left;
}
.djxxb{
	float: left;
}
.azlxa p{ 
	font-size: 14px;
	color: #000;
	float: left;	
}
.azlxa select{
	width: 104px;
	float: left;
}
.azlxa{
	overflow: hidden;
}
.azlxc{
	overflow: hidden;
	margin-top: 60px;
}
.azlxc p{
	font-size: 14px;
	color: #000;
	float: left;
}
.azlxc textarea{
	width: 230px;
	resize: none;
}
.wubiao{
    width: 30%;
    overflow-x: auto;
    overflow-y: auto;
    height: 200px;
    float: left;
}
.wubiao table {
    min-width: 100%;
}
.wupin{
	overflow: hidden;
}
.wupin h3{
	font-size: 16px;
	color: #000;
	overflow: hidden;
}
.wupinform{
	float: left;
	margin-left: 10px;
}
.wupd{
	padding: 0 20px;
	overflow: hidden;
}
.wupa{
	float: left;
}
.wupa p{
	font-size: 14px;
	color: #000;
}

.wupa input{
	width: 60px;
	
}
.wupb{
	float: left;
	margin-left: 15px;
}
.wupb p{
	font-size: 14px;
	color: #000;
}

.wupb input{
	width: 80px;
	
}
.wupc{
	float: left;
}
.wupc p{
	font-size: 14px;
	color: #000;
}

.wupc input{
	width: 60px;
	
}
.wupc em{
	color: #0000FF;
}
.wupe{
	float: left;
	margin-left: 15px;
}
.wupe p{
	font-size: 14px;
	color: #000;
}

.wupe input{
	width: 60px;
	
}
.wupf{
	font-size: 14px;
	color: #000;
	padding: 3px 13px;
	background: #c6c6c6;
	width: auto;
	margin: 0 20px;
	margin-top: 10px;
	text-align: center;
}
.wupg{
	font-size: 14px;
	color: #000;
	padding: 3px 13px;
	background: #c6c6c6;
	width: auto;
	margin: 0 20px;
	margin-top: 10px;
	text-align: center;
}
.wupz{
	margin: 0 20px;
}
.wupz i{
	color: #c60000;
}
.wupy p{
	float: left;
}
.wupy{
	margin: 0 20px;
	overflow: hidden;
	margin-bottom: 15px;
	margin-top: 15px;
}
.wupy select{
	width: 104px;
	float: left;
}
.wupy i{
	color: #c60000;
	font-size: 24px;
	float: left;
	
}
.wumxbiao{
    width: 50%;
    overflow-x: auto;
    overflow-y: auto;
    height: 200px;
    
}
.wumxbiao table {
    min-width: 100%;
}
.wumx{
	overflow: hidden;
}
.wumx h3{
	font-size: 16px;
	color: #000;
	overflow: hidden;
}
.wumxa{
	font-size: 14px;
	color: #000;
	padding: 3px 13px;
	background: #c6c6c6;
	width: auto;
	margin: 0 20px;
	margin-top: 10px;
	text-align: center;
	float: left;
}
.wumxb p{
	float: left;
}
.wumxb{
	margin: 0 20px;
	overflow: hidden;
	margin-top: 15px;
	float: left;
}
.wumxb select{
	width: 104px;
	float: left;
}
.wumxb i{
	color: #c60000;
	font-size: 24px;
	float: left;
	
}
.wpmxd{
	width: 50%;
	margin-top: 20px;
}
.wupfei h3{
	font-size: 14px;
	color: #000;
}
.wupfeid{
	font-size: 14px;
	color: #000;
	padding: 3px 13px;
	background: #c6c6c6;
	width: auto;
	margin: 0 20px;
	margin-top: 10px;
	text-align: center;
	float: left;
}
.wupfeic{
	margin-left: 200px;
}
.wupfei{
	overflow: hidden;
}
.xiaosbiao{
	width: 30%;
	overflow: auto;
	height: 300px;
}
.xiaosbiao table{
	min-width: 100%;
}
.contb select.xiaostime{
	width: 140px;
}
.xiaost{
	margin-left: 20px;
	margin-top: 10px;
}
.xiaosd{
	font-size: 14px;
	color: #000;
	padding: 3px 17px;
	background: #c6c6c6;
	float: left;
	width: auto;
	margin-left: 10px;
}
.xiaosye{
	width: 100%;
	overflow: hidden;
	margin-bottom: 10px;
	margin-top: 10px;
}
.xiaosye p{
	font-size: 14px;
	color: #000;
	float: left;
	margin: 0 34px;
}
.xiaosyej select{
	width: 130px;
	outline: 0;
	font-size: 14px;
	color: #000;
	float: left;
	margin-left: 34px;
}
.xita p{
	font-size: 14px;
	color: #000;
	float: left;
}
.xita select{
	width: 140px;
	float: left;
}
.xitonga{
	padding-left: 34px;
}
.xita{
	overflow: hidden;
	float: left;
	padding-right: 10px;
}
.xitb p{
	font-size: 14px;
	color: #000;
	float: left;
}
.xitb select{
	width: 104px;
	float: left;
}
.xitb{
	overflow: hidden;
	float: left;
	margin-right: 10px;
}
.xitongnum{
	float: left;
	margin-left: 100px;
}
.xitongnum input{
	width: 104px;
}
.suod{
	font-size: 22px;
	color: #840000;
}
.usera{
	overflow: hidden;
}
.useraa{	
	margin-right: 20px;
	float: left;
}
.useraa p{
	font-size: 14px;
	color: #000;
	float: left;
}
.useraa input{
	width: 104px;
	float: left;
}
.useraa i{
	color: #ff0000;
	font-size: 24px;
	margin-left: 10px;
	float: left;
}
.useraa.userba input{
	width: 170px;
}
.userc{
	font-size: 14px;
	color: #000;
	padding: 3px 23px;
	background: #c6c6c6;
	float: left;
	width: auto;
	margin-left: 5px;
}
.usercon{
	overflow: hidden;
}
.userconle{
	width: 570px;
	float: left;
	
}
.userbiao{
	width: 570px;
	height: 276px;
	overflow: auto;
	margin-top: 10px;
}
.userpd{
	width: 428px;
	margin: 0 auto;
}
.userconri{
	float: left;
	margin-left: 10px;
}
.userxg{
	padding: 20px;
}
.userxga{
	overflow: hidden;
}
.userxga p{
	font-size: 14px;
	color: #000;
	float: left;
}
.userxga input{
	width: 104px;
	float: left;
}
.userxga select{
	width: 104px;
	float: left;
}
.userxga.userxgb input{
	width: 170px;
	float: left;
}
.userd{
	font-size: 14px;
	color: #000;
	padding: 3px 23px;
	background: #c6c6c6;
	float: left;
	width: auto;
	margin-left: 15px;
}
.userxgbtn .userd:first-child{
	margin-left: 0;
}
.userxgbtn.diffuserxg{
	margin-top: 25px;
}

.userxgbtn{
	margin-top: 10px;
	overflow: hidden;
}
.usersza p{
	font-size: 14px;
	color: #000;
	float: left;
}
.usersza input{
	width: 104px;
	float: left;
}
.userszb p{
	font-size: 14px;
	color: #000;
	float: left;
}
.userszb input{
	width: 80px;
	float: left;
}
.userszc{
	font-size: 14px;
	color: #000;
	padding: 3px 23px;
	background: #c6c6c6;
	float: left;
	width: auto;
	margin-left: 30px;
}
.usersza{
	margin-left: 30px;
	float: left;
}
.userszb{
	margin-left: 30px;
	float: left;
}




.userszas p{
	font-size: 14px;
	color: #000;
	float: left;
}
.userszas input{
	width: 30px;
	float: left;
}
.userszbs p{
	font-size: 14px;
	color: #000;
	float: left;
}
.userszbs input{
	width: 94px;
	float: left;
}
.userszcs p{
	font-size: 14px;
	color: #000;
	float: left;
}
.userszcs input{
	width: 80px;
	float: left;
}
.userszas{
	margin-left: 30px;
	float: left;
}
.userszbs{
	margin-left: 20px;
	float: left;
}
.userszcs{
	margin-left: 20px;
	float: left;
}
.userbao{
	font-size: 14px;
	color: #000;
	padding: 3px 23px;
	background: #c6c6c6;
	float: left;
	width: auto;
}
.usermenu p{
	font-size: 14px;
	color: #000;
}
.usermenud{
	width: 100%;
	height: 279px;
	overflow: auto;
}
.userszxa{
	font-size: 14px;
	color: #000;
	padding: 3px 23px;
	background: #c6c6c6;
	float: left;
	width: auto;
	margin-left: 30px;
}
.userszx{
	float: right;
	margin-right: 32px;
}
.shezhia{
	width: 100%;
	overflow: hidden;
	margin-bottom: 10px;
}
.shezhia p{
	font-size: 14px;
	color: #000;
	float: left;
	margin: 0;
	margin-left: 30px;
}
.shezhia p:first-child{
	margin-left: 14px;
}
.shezhia p:nth-child(2){
	margin-left: 55px;
}

.shezhib input{
	width: 104px;
	outline: 0;
	font-size: 14px;
	color: #000;
	float: left;
	margin-left: 10px;
}
.contcshezhi{
	font-size: 14px;
	color: #000;
	padding: 3px 23px;
	background: #c6c6c6;
	float: left;
	width: auto;
	margin-left: 28px;
}
.shezhi{
	width: 628px;
	overflow: hidden;
}
.shezhibiao{
	width: 628px;
	height: 248px;
	overflow: auto;
}
.shezhibiao table{
	min-width: 100%;
}
.shezhiysa p{
	font-size: 14px;
	color: #000;
	float: left;
}
.shezhiysa input{
	width: 104px;
	outline: 0;
	font-size: 14px;
	color: #000;
	float: left;
	margin-left: 10px;
}
.shezhiys{
	width: 628px;
	overflow: hidden;
}
.shezhiysa{
	margin-left: 130px;
}
.shezhiysbiao{
	width: 628px;
	height: 218px;
	overflow: auto;
}
.shezhiysb{
	width: 628px;
	overflow: hidden;
}
.shezhiysc{
	float: left;
	margin-left: 25px;
}
.shezhiysc p{
	font-size: 14px;
	color: #000;
	float: left;
}
.shezhiysc input{
	width: 104px;
	outline: 0;
	font-size: 14px;
	color: #000;
	float: left;
	
}
.shezhiysd{
	float: left;
	margin-left: 10px;
}
.shezhiysd p{
	font-size: 14px;
	color: #000;
	float: left;
}
.shezhiysd input{
	width: 104px;
	outline: 0;
	font-size: 14px;
	color: #000;
	float: left;
	
}
.contcys{
	font-size: 14px;
	color: #000;
	padding: 3px 23px;
	background: #c6c6c6;
	float: left;
	width: auto;
	margin-left: 1px;
}
.shezhiysaa{
	float: left;
	margin-left: 25px;
}
.shezhiysaa p{
	font-size: 14px;
	color: #000;
	float: left;
}
.shezhiysaa input{
	width: 104px;
	outline: 0;
	font-size: 14px;
	color: #000;
	float: left;
}
.shezhiysab{
	float: left;
	margin-left: 10px;
}
.shezhiysab p{
	font-size: 14px;
	color: #000;
	float: left;
}
.shezhiysab input{
	width: 104px;
	outline: 0;
	font-size: 14px;
	color: #000;
	float: left;
}
.phonesz{
	overflow: hidden;
}
.phonesz .contc{
	margin-left: 73px;
}
.shezhiysca{
	float: left;
	margin-left: 53px;
}
.shezhiysca p{
	font-size: 14px;
	color: #000;
	float: left;
}
.shezhiysca input{
	width: 84px;
	outline: 0;
	font-size: 14px;
	color: #000;
	float: left;	
}
.qudao{
	overflow: hidden;
	margin-left: 25px;
}
.qudao p{
	font-size: 14px;
	color: #000;
	float: left;
}
.qudao select{
	width: 104px;
	outline: 0;
	font-size: 14px;
	color: #000;
	float: left;	
}
.qudaos{
	overflow: hidden;
	margin-left: 25px;
	float: left;
}
.qudaos p{
	font-size: 14px;
	color: #000;
	float: left;
}
.qudaos select{
	width: 104px;
	outline: 0;
	font-size: 14px;
	color: #000;
	float: left;	
}
.phonesza{
	overflow: hidden;
}
.mwnav{
	width: 100%;
	height: 26px;
	margin-top: 5px;
	border-bottom: 1px solid #bbb;
	position: relative;
}
.mwnav li{
	float: left;
	/*width: 70px;*/
	text-align: center;
	line-height: 26px;
	border: 1px solid #bbb;
	border-right: none;
	cursor: pointer;
}
.mwnav li:last-child{
	border-right: 1px solid #bbb;
}
.mwnav li a{
	font-size: 14px;
	color: #000;
	text-decoration: none;
}
.mwnav li.navon{
	height: 28px;
	border-bottom: 1px solid #fff;
}
.mwnav ul{
	position: absolute;
	top: -2px;
}

.mwdlea{
	width: 100%;
	overflow: hidden;
	margin-bottom: 10px;
}
.mwdlea p{
	font-size: 14px;
	color: #000;
	float: left;
	margin: 0 34px;
}
.mwdleb input{
	width: 104px;
	outline: 0;
	font-size: 14px;
	color: #000;
	float: left;
	margin-left: 34px;
}
.mwdlea p:nth-child(2){
	font-size: 14px;
	color: #000;
	float: left;
	margin-left: 48px;
}
.mwdleb input:nth-child(2){
	width: 200px;
	outline: 0;
	font-size: 14px;
	color: #000;
	float: left;
	margin-left: 34px;
}
.mwdtop{
	overflow: hidden;
}
.mwdlec{
	margin-left: 24px;
	margin-top: 10px;
}
.mwdcontc{
	font-size: 14px;
	color: #000;
	padding: 3px 23px;
	background: #c6c6c6;
	float: left;
	width: auto;
	margin-left: 10px;
}
.mwda{
	width: 865px;
}
.mwdb{
	width: 865px;
	height: 365px;
	overflow: auto;
}
.mwdb table{
	min-width: 100%;
}

.mwdale{
	float: left;
	overflow: hidden;
}
.mwdari{
	float: left;
	overflow: hidden;
	margin-left: 50px;
}
.mwdaria{
	width: 120px;
	height: 90px;
	border: 1px solid #000;
	float: left;
}
.mwdcontcs{
	font-size: 14px;
	color: #000;
	padding: 3px 23px;
	background: #c6c6c6;
	float: left;
	width: auto;
	margin-left: 10px;
	margin-top: 60px;
}
.mqsza{
	overflow: hidden;
	float: left;
	margin-left: 25px;
	margin-top: 24px;
}
.mqsza p{
	font-size: 14px;
	color: #000;
}
.mqsza select{
	width: 114px;
	outline: 0;
	font-size: 14px;
	color: #000;
	float: left;
	
}
.mqszb{
	margin-left: 37px;
	float: left;
	overflow: hidden;
	margin-top: 24px;
}
.mqszba{
	margin-bottom: 15px;
}
.mqszc{
	float: left;
	overflow: hidden;
	margin-left: 37px;
}
.mqszc p{
	font-size: 14px;
	color: #000;
}
.mqszc input{
	width: 114px;
	outline: 0;
	font-size: 14px;
	color: #000;
	display: block;
	margin-top: 10px;
	
}
.mqszd{
	float: left;
	overflow: hidden;
	margin-left: 37px;
}
.mqszd p{
	font-size: 14px;
	color: #000;
}
.mqszd input{
	width: 114px;
	outline: 0;
	font-size: 14px;
	color: #000;
	display: block;
	margin-top: 10px;	
}
.mqszd h1{
	font-size: 14px;
	color: #FF0000;
}
.mqsze{
	font-size: 14px;
	color: #000;
	padding: 3px 23px;
	background: #c6c6c6;
	float: left;
	width: auto;
	margin-left: 50px;
	margin-top: 68px;
}
.mwdba{
	width: 865px;
}
.mwdbb{
	width: 865px;
	height: 385px;
}
.mwdbble{
	width: 650px;
	height: 385px;
	float: left;
	overflow: auto;
}
.mwdbble table{
	min-width: 100%;
}
.mwdbbri{
	width: 180px;
	float: right;
}
.mqxga{
	overflow: hidden;
	margin-top: 10px;
	margin-left: 30px;
}
.mqxga p{
	font-size: 14px;
	color: #000;
}
.mqxga input{
	width: 114px;
	outline: 0;
	font-size: 14px;
	color: #000;
	display: block;
	margin-top: 10px;	
}
.mqxgcontc{
    font-size: 14px;
    color: #000;
    padding: 3px 23px;
    background: #c6c6c6;
    float: left;
    width: auto;
    margin-left: 10px;
}
.mqxgcontcs{
    font-size: 14px;
    color: #000;
    padding: 3px 23px;
    background: #c6c6c6;
    float: left;
    width: auto;
    margin-left: 2px;
}
.mqxgb{	
	margin-top: 20px;
}
.mqszaa{
	overflow: hidden;
	margin-top: 2px;
}
.mqszaa p{
	font-size: 14px;
	color: #000;
	float: left;
}
.mqszaa input{
	width: 114px;
	outline: 0;
	font-size: 14px;
	color: #000;
	float: left;	
}
.mqszab{
	overflow: hidden;
	margin-top: 10px;
}
.mqszab p{
	font-size: 14px;
	color: #000;
	float: left;
}
.mqszab input{
	width: 114px;
	outline: 0;
	font-size: 14px;
	color: #000;
	float: left;	
}
.mwtxa{
	border-right: 1px solid #bbb;
	overflow: hidden;
	padding-right: 10px;
}
.mwtxaa{
	overflow: hidden;
	margin-top: 30px;
}
.mwtxaa:first-child{
	margin-top: 0;
}
.mwtxaa p{
	font-size: 14px;
	color: #000;
	float: left;
}
.mwtxaa select{
	width: 104px;
	outline: 0;
	font-size: 14px;
	color: #000;
	float: left;
	margin-left: 10px;	
}
.mwtxcontc{
	font-size: 14px;
	color: #000;
	padding: 3px 23px;
	background: #c6c6c6;
	width: auto;
	float: left;
	margin-left: 70px;
	margin-top: 20px;
}
.mwtxle{
	overflow: hidden;
	float: left;
}
.mwtxriaa{
	float: left;
	margin-left: 10px;
	margin-top: 30px;
}
.mwtxriab{
	float: left;
	margin-left: 20px;
	margin-top: 30px;
}
.mwtxriab input{
	width: 104px;
	outline: 0;
	font-size: 14px;
	color: #000;
	float: left;
}
.mwtxri{
	overflow: hidden;
	float: left;
	margin-left: 10px;
	
}
.mwtxriab h1{
	color: #FF0000;
	font-size: 14px;
	float: left;
	margin: 0;
	margin-left: 20px;
	line-height: 24px;
}
.mwtxria{
	padding-left: 5px;
	padding-right: 5px;
	border-bottom: 1px solid #bbb;
	overflow: hidden;
	padding-bottom: 2px;
}
.mwtxriac{
	float: left;
	margin-left: 20px;
	margin-top: 30px;
}
.mwtxriad{
	float: left;
	margin-left: 20px;
}
.mwtxriad p{
	font-size: 14px;
	color: #000;	
}
.mwtxriad input{
	width: 104px;
	outline: 0;
	font-size: 14px;
	color: #000;
}
.mwtxribtopd{
	float: left;
	margin-left: 20px;
}
.mwtxribtopd p{
	font-size: 14px;
	color: #000;	
}
.mwtxribtopd select{
	width: 114px;
	outline: 0;
	font-size: 14px;
	color: #000;
}
.mwtxribtopa{
	overflow: hidden;
	margin-bottom: 10px;
}
.mwtxribtople{
	float: left;
}
.mwtxribtopri{
	float: left;
	border: 1px solid #bbb;
	padding: 20px 20px;
	margin-top: 5px;
	margin-left: 5px;
}
.xssz{
	font-size: 14px;
	color: #000;
	margin-bottom: 20px;
}
.xsszs{
	font-size: 14px;
	color: #000;
	
}
.mwtxribtop{
	overflow: hidden;
}
.mwbbotxz{
	float: left;
	margin-left: 20px;
}
.mwtxrible{
	float: left;
}
.mwtxribri{
	float: left;
	margin-top: 20px;
}
.mwtxribricontc{
	font-size: 14px;
	color: #000;
	padding: 3px 23px;
	background: #c6c6c6;
	width: auto;
	margin-left: 10px;
	margin-bottom: 30px;

}
.mwtx{
	width: 952px;
}
.mwtx.diffmwtx{
	width: 902px;
}
.mwtx.diffmwtx .mwtxribri{
	margin-left: 50px;
}
.ghsz{
	width: 624px;
}
.ghszmaa{
	float: left;
	margin-left: 20px;
}
.ghszmaa p{
	font-size: 14px;
	color: #000;	
}
.ghszmaa input{
	width: 104px;
	outline: 0;
	font-size: 14px;
	color: #000;
}
.ghszmab{
	float: left;
	margin-left: 20px;
}
.ghszmab p{
	font-size: 14px;
	color: #000;	
}
.ghszmab input{
	width: 84px;
	outline: 0;
	font-size: 14px;
	color: #000;
}
.ghszmab i{
	font-size: 14px;
	color: #000;	
}
.ghszma{
	overflow: hidden;
}
.ghszmb{
	margin-top: 10px;
}
.ghszmba{
	float: left;
	margin-left: 20px;
}
.ghszmba p{
	font-size: 14px;
	color: #000;	
}
.ghszmba input{
	width: 94px;
	outline: 0;
	font-size: 14px;
	color: #000;
}
.ghszmba i{
	font-size: 14px;
	color: #000;	
}
.ghszmbb{
	float: left;
	margin-left: 20px;
}
.ghszmbb p{
	font-size: 14px;
	color: #000;	
}
.ghszmbb select{
	width:114px;
	outline: 0;
	font-size: 14px;
	color: #000;
}
.ghszmbc{
	font-size: 14px;
	color: #000;
	padding: 3px 23px;
	background: #c6c6c6;
	float: left;
	width: auto;
	margin-left: 145px;
	margin-top: 30px;
}
.ghszbiao{
	width: 624px;
	height: 226px;
	overflow: auto;
}
.ghszbiao table{
	min-width: 100%;
}
.ghszmbcs{
	font-size: 14px;
	color: #000;
	padding: 3px 23px;
	background: #c6c6c6;
	float: left;
	width: auto;
	margin-left: 10px;
	margin-top: 30px;
}
.wptj{
	width: 900px;
}
.wptja{
	float: left;
	overflow: hidden;
	margin-left: 20px;
}
.wptja p{
	font-size: 14px;
	color: #000;	
}
.wptja input{
	width: 84px;
	outline: 0;
	font-size: 14px;
	color: #000;
}
.wptjb{
	float: left;
	overflow: hidden;
	margin-left: 20px;
}
.wptjb p{
	font-size: 14px;
	color: #000;	
}
.wptjb input{
	width: 104px;
	outline: 0;
	font-size: 14px;
	color: #000;
}
.wptjc{
	float: left;
	overflow: hidden;
	margin-left: 20px;
}
.wptjc p{
	font-size: 14px;
	color: #000;	
}
.wptjc input{
	width: 300px;
	outline: 0;
	font-size: 14px;
	color: #000;
}
.wptjd{
	margin-left: 20px;
	margin-top: 30px;
}
.wptjda{
	font-size: 14px;
	color: #000;
	padding: 3px 23px;
	background: #c6c6c6;
	float: left;
	width: auto;
	margin-left: 10px;
}
.wptjbiao{
	width: 900px;
	height: 240px;
	overflow: auto;
}
.wptjbiao table{
	min-width: 100%;
}
.wptjea{
	font-size: 14px;
	color: #000;
	padding: 3px 23px;
	background: #c6c6c6;
	float: left;
	width: auto;
	margin-left: 10px;
	
}
.wptjeb{
	font-size: 14px;
	color: #000;
	padding: 3px 23px;
	background: #c6c6c6;
	float: left;
	width: auto;
	margin-left: 10px;
	margin-top: 3px;
}
.bjsz{
	width: 523px;
	height: 352px;
	overflow: hidden;
}
.bjszimg{
	width: 200px;
	height: 200px;
	margin: 30px auto;
	border: 1px solid #bbb;
}
.bjszbtna{
	font-size: 14px;
	color: #000;
	padding: 3px 23px;
	background: #c6c6c6;
	float: left;
	width: auto;
	margin-left: 10px;
}
.bjszbtnb{
	font-size: 14px;
	color: #000;
	padding: 3px 23px;
	background: #c6c6c6;
	float: right;
	width: auto;
	margin-left: 10px;
}
.bjszbtn{
	width: 400px;
	margin: 0 auto;
}
.logdiv{
	width: 688px;
	height: 462px;
	background: url(../images/logimg_03.png) no-repeat top left;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -344px;
	margin-top: -231px;
}
.loglogo{
	width: 59px;
	float: left;
}
.loglogo img{
	width: 100%;
}
.logt{
	font-size: 30px;
	color: #2f4072;
	font-family: "黑体";
	float: left;
	margin-top: 10px;
}
.loga{
	margin-left: 60px;
	margin-top: 31px;
	overflow: hidden;
	
}
.login{
	width: 389px;
	margin: 0 auto;
	margin-top: 60px;
	overflow: hidden;
}
.logb{
	width: 100%;
	height: 42px;
	margin-bottom: 35px;
	overflow: hidden;
}
.logb label{
	width: 110px;
	line-height: 42px;
	font-size: 19px;
	color: #010101;
}
.logb .logc{
	width: 272px;
	font-size: 19px;
	color: #010101;
	background: url(../images/loglogo_07.png) no-repeat left top;
	background-size: 26px 26px;
	text-indent: 30px;
	border: none;
	border: 2px solid #cdcec7;
}
.logd{
	width: 100%;
	height: 42px;
	margin-bottom: 35px;
	overflow: hidden;
}
.logd label{
	width: 110px;
	line-height: 42px;
	font-size: 19px;
	color: #010101;
}
.logd .loge{
	width: 272px;
	font-size: 19px;
	color: #010101;
	background: url(../images/loglogo_10.png) no-repeat left top;
	background-size: 26px 26px;
	text-indent: 30px;
	border: none;
	border: 2px solid #cdcec7;
}
.logbtn{
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-size: 19px;
	color: #fff;
	background: #2f4072;
	display: block;
	text-align: center;
	text-decoration: none;
	margin-top: 55px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.logbtn:hover{
	color: #fff;
	text-decoration: none;
}
/**********************************************/
.conbiao.userbiaos {
	height: 400px;
	margin-top: 20px;
}
.userconris {
	width: 600px;
	float: left;
	margin-left: 10px;
}
.userconris .userxga {
	float: left;
	margin-left: 10px;
}
.userconris .userxg {
	padding: 0;
	padding: 0 20px;
}
.userxgbtns {
	clear: both;
}
.userxgbtns .userd {
	margin-left: 10px;
}