<div class="cont">
          <form>
            <fieldset>
              <legend>墓位范围</legend>
              
               <div class="conta">
                  <p>选择墓园</p>
                  <p>选择墓区</p>
                  <p>选择墓排</p>
                  
                 
               </div>
               <div class="contb">
                   <select>
                  <option>天福园</option>
                </select>
                <select>
                  <option>A区</option>
                </select>
                <select>
                  <option>1排</option>
                </select>               
                <div class="contc">显示全部杂费票据信息</div>             
                    <div class="contc">退出</div>
               </div>
            </fieldset>
            
          </form>
          <div class="conbiao">
            <table class="table table-bordered">
              <!--<caption>边框表格布局</caption>-->
              <thead>
                <tr>
                  <th>墓位定购编号</th>
                  <th>墓位全称</th>
                  <th>联系人姓名</th>
                  <th>杂费金额</th>
                  <th>服务项目</th>
                  <th>打印次数</th>
                  <th>最后打印日期</th>
                  <th>操作员</th>
                  <th>墓位状态</th>
                  <th>购墓状态</th>
                  <th>是否已付费</th>
                  <th>备注</th>
                  <th>墓位编号</th>
                  <th>墓园编号</th>
                  <th>墓区编号</th>
                  <th>墓排编号</th>
                  <th>墓位状态编号</th>
                  <th>杂费单据编号</th>
                  
                 

                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Cem2017010812355</td>
                  <td>天祥园A区1排0009号</td>
                  <td>已下葬</td>
                  <td>刘丛礼</td>
                  <td>男</td>
                  <td>2017-1-12</td>
                  <td>已落葬</td>
                  <td>购买家属</td> 
                   <td>Cem2017010812355</td>
                  <td>天祥园A区1排0009号</td>
                  <td>已下葬</td>
                  <td>刘丛礼</td>
                  <td>男</td>
                  <td>2017-1-12</td>
                  <td>已落葬</td>
                  <td>购买家属</td> 
                   <td>Cem2017010812355</td>
                  <td>天祥园A区1排0009号</td>
                 
                </tr>
               
              </tbody>
            </table>
          </div>
        </div>