<div class="cont">
          <h1 class="suod">【请选择以下被锁定的墓位，双击该条记录即可解锁。】</h1>
          <div class="conbiao">
            <table class="table table-bordered">
              <!--<caption>边框表格布局</caption>-->
              <thead>
                <tr>
                  <th>墓位全称</th>
                  <th>墓位长</th>
                  <th>墓位宽</th>
                  <th>墓位面积</th>
                  <th>墓位价格</th>
                  <th>墓位类型</th>
                  <th>墓位材质</th>
                  <th>墓位样式</th>
                  <th>墓位状态</th>
                  <th>操作人</th>
                  <th>操作时间</th>
                  <th>是否被锁定</th>
                 

                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>天祥园A区1排0009号</td>
                  <td>0.84</td>
                  <td>0.62</td>
                  <td>0.3421</td>
                  <td>12342</td>
                  <td>传统-01</td>
                  <td>花岗岩G654</td>
                  <td>双人墓</td>  
                  <td>已订购</td>
                  <td>李敏</td>
                  <td>2016-09-18 8:26</td>
                  <td>已锁定</td>
                  
                </tr>
               
              </tbody>
            </table>
          </div>
        </div>