<div class="cont">
          <form>
            <fieldset>
              <legend>选择墓位信息</legend>
              
               <div class="conta">
                  <p>选择墓园</p>
                  <p>选择墓区</p>
                  <p>选择墓排</p>
                  <p>查询结果数量：11012个</p>
                 
               </div>
               <div class="contb">
                   <select>
                  <option>天福园</option>
                </select>
                <select>
                  <option>A区</option>
                </select>
                <select>
                  <option>1排</option>
                </select>
                
                <div class="contc">刷新</div>             
                    <div class="contc">退出</div>
                    <div class="xitongnum">
                      <input type="text" />
                    </div>
               </div> 
            </fieldset>
            
          </form>
          <div class="conbiao">
            <table class="table table-bordered">
              <!--<caption>边框表格布局</caption>-->
              <thead>
                <tr>
                  <th>墓位全称</th>
                  <th>墓位长</th>
                  <th>墓位宽</th>
                  <th>墓位面积</th>
                  <th>墓位价格</th>
                  <th>墓位类型</th>
                  <th>墓位材质</th>             
                  <th>墓位样式</th>
                  <th>墓位状态</th>                
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>天祥园A区1排0009号</td>
                  <td>0.78</td>
                  <td>0.78</td>
                  <td>0.2847</td>
                  <td>2394</td>
                  <td>标准01</td>
                  <td>G0909</td>
                  <td>双人墓</td>  
                  <td>已下葬</td>
                  
                  
                </tr>
               
              </tbody>
            </table>
          </div>
        </div>