<div class="cont">
          <div class="wumx">
            <h3>现有骨灰盒明细</h3>
            <div class="wumxbiao">
              <table class="table table-bordered">
                <!--<caption>边框表格布局</caption>-->
                <thead>
                  <tr>
                    <th>骨灰盒名称</th>
                    <th>材质名称</th>
                    <th>长</th>
                    <th>宽</th>
                    <th>高</th>
                    <th>价格</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>锦绣河山</td>
                    <td>实木</td>
                    <td>350</td>
                    <td>250</td>
                    <td>250</td>
                    <td>580</td>
                  </tr>
                 
                 
                </tbody>
              </table>
            </div>
            <div class="wpmxd">
              <form>
                <fieldset>
                  <legend>购买操作</legend>
                  <div class="wumxb">
                    <p>操作员：</p>
                    <select>
                      <option>芙米科技</option>
                    </select>
                                    <i>*</i>
                    </div>
                    <div class="wumxa">保存骨灰盒购买信息</div>
                    <div class="wumxa">打印骨灰盒购买信息</div>
                </fieldset>
              </form>
              
            </div>
            
            </div>
        </div>